:host {
  position: fixed;  
  inset: 0;
  pointer-events: none;
  z-index: var(--z-grid);
}

.cosmic-grid {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right,transparent 97%,var(--energy-soft) 100%), linear-gradient(to bottom,transparent 97%,var(--energy-soft) 100%);
  background-size: var(--size-grid) var(--size-grid);
  mix-blend-mode: screen;
  animation: grid-drift 20s linear infinite;
}