<!-- LINK -->
<a
  *ngIf="isLink"
  class="btn"
  [ngClass]="buttonClasses"
  [href]="href"
>
  <span class="btn-content">
    {{ text }}
    <ng-content></ng-content>
  </span>
</a>

<!-- ROUTER -->
<a
  *ngIf="!isLink && isRouterLink"
  class="btn"
  [ngClass]="buttonClasses"
  [routerLink]="routerLink"
>
  <span class="btn-content">
    {{ text }}
    <ng-content></ng-content>
  </span>
</a>

<!-- BUTTON -->
<button
  *ngIf="!isLink && !isRouterLink"
  class="btn"
  [ngClass]="buttonClasses"
  [type]="type"
>
  <span class="btn-content">
    {{ text }}
    <ng-content></ng-content>
  </span>
</button>